<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <main class="err-main">
        <div class="err-bg"></div>
        <div class="err-content">
            <center>
                <h2>Error {{.ErrorNum}} : {{.ErrorType}}</h2>
            </center>
            <!-- <form action="/"> -->
            <button class="go-back-error" onclick="window.history.back()">Go Back</button>
            <!-- </form> -->
        </div>
    </main>
</body>

</html>