<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/internal/app/views/static/style.css">
    <title>FORUM</title>

</head>

<body>
    <noscript>You need to enable JavaScript to run this app.</noscript>


    <div class="navbar">
        <div>
            <a href="/" class="button">Home</a>
        </div>
        <div class="SiiiiiiiiiiiiiiiR">
            <a href="/login" class="login_button">Login</a>
            <a href="/register" class="register_button">Register</a>
        </div>

    </div>



    <div class="content">

        <div>
            <form method="post" class="post_form">
                <label for="title">Title</label>
                <input class="post_title" name="title" type="text" placeholder="Name it" maxlength="100">
                <label for="content">Content</label>
                <input class="post_content" name="content" type="text" placeholder="Speak your mind soldier"
                    maxlength="1000">

                <fieldset>
                    <legend>Select an appropriate category</legend>

                    <label for="sport">Sport</label>
                    <input class="category" type="checkbox" value="sport" id="sport" name="category" />

                    <label for="science">Science</label>
                    <input class="category" type="checkbox" id="science" name="category" value="science">

                    <label for="entertainment">Entertainment</label>
                    <input class="category" type="checkbox" id="entertainment" name="category" value="entertainment">

                </fieldset>


                <button class="post_btn" type="button">Post</button>
            </form>
            <div class="filter_form">

                <form action="">


                    <select class="selectfilter" name="filter" multiple>
                        <option value="sport">Sport</option>
                        <option value="science">Science</option>
                        <option value="entertainment">Entertainment</option>

                        <option value="liked">Liked</option>
                        <option value="created">Created</option>
                    </select>
                    <input class="filterbutton" type="button" value="Filter">
                </form>
            </div>

            <div class="container">

                <div id="posts">

                </div>

                <div class="pagination">

                    <button class="load_more">Load More</button>
                </div>

            </div>
            <script type="module" src="internal/app/views/static/fetch_data.js"></script>

        </div>
    </div>

</body>

</html>