<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/internal/app/views/static/style.css">
  <title>FORUM</title>

</head>

<body>


  <div class="navbar">
    <div>
      <a href="/" class="button">Home</a>
    </div>
    <div>
      <a href="/login" class="login_button">Login</a>
      <a href="/register" class="register_button">Register</a>
    </div>

  </div>


  <div class="form-container">
    <h2>Login</h2>
    <form method="post" class="login_form">
      <label for="email">EMAIL OR USERNAME:</label>
      <input type="text" id="email" name="emailorusername" placeholder="Email or Username" required>

      <label for="password">PASSWORD:</label>
      <input type="password" id="password" name="password" placeholder="Setup your password" required>

      <label class="login_button">Login</label>

      <input type="submit" value="Login">
      <span id="server_error"></span>
    </form>
  </div>
  {{.Email}}
  {{.Password}}
  <script  src="internal/app/views/static/verify_login.js" defer></script>



</body>

</html>