<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/internal/app/views/static/css/style.css">
    <title>FORUM</title>



</head>

<body>
    <noscript>You need to enable JavaScript to run this app.</noscript>


    <div class="navbar">
        <div>
            <a href="/" class="home_button">Home</a>
        </div>
        <div>
            <a href="/login" class="login_button">Login</a>
            <a href="/register" class="register_button">Register</a>
        </div>

    </div>


    <div class="content">
       
        <!--                 LOGIN                   -->
        <div class="loginCode">
            <div class="form-container">
                <h2>Login</h2>
                <form method="post" class="login_form">
                    <label for="email">EMAIL OR USERNAME:</label>
                    <input type="text" id="login_email" name="emailorusername" placeholder="Email or Username" required>
                    <label for="login_password">PASSWORD:</label>
                    <input type="password" id="login_password" name="login_password" placeholder="Setup your password"
                        required>
                    <label class="login_button">Login</label>
                    <input type="submit" value="Login">
                    <span id="server_error"></span>
                </form>
            </div>
        </div>

    </div>



    <!-- 
                <h3>Chat</h3>
                <div id="chat-box" style="height: 300px; overflow-y: scroll; border: 1px solid #ad6f6f; padding: 10px;display: none;"></div>
                <input type="text" id="message-input" placeholder="Enter message" style="display: none;" />
                <button id ="sendbutton" style="display: none;" onclick="sendMessage()">Send</button>
            </div>
             -->

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <!-- bach n7ayad dak cache li kymarad zadt dik ?n=1 wla kifma can bach ib9a ifhamha anaho file jdid  -->

    <script type="module" src="internal/app/views/static/router.js"> </script>
    ,

    <script type="module" src="internal/app/views/static/verify_login.js"></script>
    <script type="module" src="internal/app/views/static/verify_registration.js"></script>
    <script type="module" src="internal/app/views/static/fetch_data.js"></script>




</body>

</html>