<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/internal/app/views/static/css/style.css">
    <title>FORUM</title>



</head>

<body>
    <noscript>You need to enable JavaScript to run this app.</noscript>


    <div class="navbar">
        <div>
            <a href="/" class="home_button">Home</a>
        </div>
        <div>
            <a href="/login" class="login_button">Login</a>
            <a href="/register" class="register_button">Register</a>
        </div>

    </div>


    <div class="content">

        <!--                 LOGIN                   -->
        <div class="loginCode">
            <div class="form-container">
                <h2>Login</h2>
                <form method="post" class="login_form">
                    <label for="email">EMAIL OR USERNAME:</label>
                    <input type="text" id="login_email" name="emailorusername" placeholder="Email or Username" required>
                    <label for="login_password">PASSWORD:</label>
                    <input type="password" id="login_password" name="login_password" placeholder="Setup your password"
                        required>
                    <label class="login_button">Login</label>
                    <input type="submit" value="Login">
                    <span id="server_error"></span>
                </form>
            </div>
        </div>

    </div>

    <script>
        let asocket

        let sendto
        let currentuser

        function fetchOnlineUsers() {

            ///need to add this to fetch_data.jsConnected

            //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
            fetch('/api/online-users')
                .then(response => response.json())
                .then(users => {
                    let userList = document.getElementById('user-list');
                    let chatbox = document.getElementById("chat-box")
                    let messageinput = document.getElementById("message-input")
                    let sendbutton = document.getElementById("sendbutton")
                    userList.innerHTML = ''; //clear last status

                    // users.forEach(user => {
                    for (let user of users) {
                        // 
                        console.log(user.username, "hada useer")
                        if (user.username == currentuser) {
                            continue
                        }

                        let userDiv = document.createElement('div');
                        userDiv.classList.add('user');

                        // make random avatar 
                        let img = document.createElement('img');
                        //apii for random acvatr
                        img.src = `https://api.dicebear.com/7.x/bottts/svg?seed=${user.username}`
                        img.alt = user.username;

                        let name = document.createElement('span');
                        name.textContent = user.username;

                        // if online do green 
                        let status = document.createElement('div');
                        status.classList.add('online');
                        //need to add ofline

                        userDiv.addEventListener('click', () => {
                            chatbox.style.display = "block"
                            messageinput.style.display = "block"
                            sendbutton.style.display = "block"

                            console.log('selectdUser:', user.username);
                            sendto = user.username
                            fetchConversation(currentuser, sendto)
                            //  console.log("cccccccccccccccccccc",currentuser)
                            //  getchatconversation()

                        });

                        userDiv.appendChild(img);
                        userDiv.appendChild(name);
                        userDiv.appendChild(status);
                        userList.appendChild(userDiv);

                    };
                })
                .catch(error => console.error('Error fetching online users:', error));
        }
        setInterval(fetchOnlineUsers, 1000);
        fetchOnlineUsers();

        function fetchoflineusers() {
            fetch('/api/offline-users')
                .then(response => response.json())
                .then(users => {
                    let userList = document.getElementById('user-list');
                    let chatbox = document.getElementById("chat-box")
                    let messageinput = document.getElementById("message-input")
                    let sendbutton = document.getElementById("sendbutton")
                    userList.innerHTML = ''; //clear last status

                    // users.forEach(user => {
                    for (let user of users) {
                        // 
                        console.log(user.username, "hada useer")
                        if (user.username == currentuser) {
                            continue
                        }

                        let userDiv = document.createElement('div');
                        userDiv.classList.add('user');

                        // make random avatar 
                        let img = document.createElement('img');
                        //apii for random acvatr
                        img.src = `https://api.dicebear.com/7.x/bottts/svg?seed=${user.username}`
                        img.alt = user.username;

                        let name = document.createElement('span');
                        name.textContent = user.username;

                        // if online do green 
                        let status = document.createElement('div');
                        status.classList.add('ofline');

                        userDiv.appendChild(img);
                        userDiv.appendChild(name);
                        userDiv.appendChild(status);
                        userList.appendChild(userDiv);

                    };
                })
                .catch(error => console.error('Error fetching ofline users:', error));

        }

        // setInterval(fetchoflineusers,1000);
        fetchoflineusers()

        async function connectwebsocket() {

            //fetch current api from api endpoint 
            const response = await fetch("/api/current-user")
            if (!response.ok) {
                throw new Eror("not authenticated ");
            }
            //pars json response
            const data = await response.json()
            currentuser = data.username

            //user the username for websocket conection 
            //map[string]string{"username:"current user }

            asocket = new WebSocket(`ws://localhost:4444/ws?username=${data.username}`);
            // `4
            try {
                asocket.onopen = function () {
                    console.log("Connected to WebSocket server");
                };

                asocket.onmessage = function (event) {
                    let data = JSON.parse(event.data);
                    console.log("New Message:", data);

                    if (data) {
                        // let chatBox = document.getElementById("chat-box");

                        // let messageElement = document.createElement("p");
                        // messageElement.textContent = `${data.sender}: ${data.content}`;


                        // chatBox.appendChild(messageElement);
                        // fetchConversation()
                        fetchConversation(currentuser, sendto)
                    }
                };

                asocket.onclose = function () {
                    console.log("WebSocket connection closed");
                    let chatBox = document.getElementById("chat-box");
                    chatBox.innerHTML = ""; // Clear chat box

                };

            } catch (error) {

                console.log("err conct o websocket", error)
            }
        }

        connectwebsocket()
        async function fetchConversation(user1, user2) {
            try {
                const response = await fetch(`/api/message-history?user1=${user1}&user2=${user2}`);
                if (!response.ok) {
                    throw new Error("cant fetch data");
                }

                const messages = await response.json();
                console.log("Conversation History:", messages);

                const chatBox = document.getElementById("chat-box");
                chatBox.textContent = "";

                messages.forEach(msg => {
                    const messageElement = document.createElement("div");
                    messageElement.classList.add("message");
                    messageElement.innerHTML = `<strong>${msg.sender_id}:</strong> ${msg.message_content} <span>${formatDate(msg.created_at)}</span>`;
                    chatBox.appendChild(messageElement);
                    //solve scroll probleme when you add an message 
                    chatBox.scrollTop = chatBox.scrollHeight;

                });

            } catch (error) {
                console.error("Error fetching conversation:", error);
            }
        }

        function formatDate(dateString) {
            const date = new Date(dateString);
            const options = { hour: '2-digit', minute: '2-digit', hour12: true };
            return date.toLocaleTimeString('en-US', options);
        }

        function sendMessage() {

            let messageInput = document.getElementById("message-input");
            let message = messageInput.value.trim();

            if (message !== "") {
                // let sendto = prompt("enter the username of the receiver:");

                if (sendto) {
                    // let currentUser      = "dady";  // shold do seession

                    // Send the message
                    asocket.send(JSON.stringify({
                        type: "message",
                        // sender: currentUser,  //     current user session data 
                        content: message,
                        receiver: sendto
                    }));
                    messageInput.value = "";
                } else {
                    alert("usernam!");
                }
            }
            fetchConversation(currentuser, sendto)
        }


    </script>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>


    <!-- bach n7ayad dak cache li kymarad zadt dik ?n=1 wla kifma can bach ib9a ifhamha anaho file jdid  -->

    <script type="module" src="internal/app/views/static/router.js"> </script>

    <script type="module" src="internal/app/views/static/verify_login.js"></script>
    <script type="module" src="internal/app/views/static/verify_registration.js"></script>
    <script type="module" src="internal/app/views/static/fetch_data.js"></script>


</body>

</html>