* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    --primaryColor: #a00;
    --secondaryColor: #eee;

}

.hidden {
    visibility: hidden;
    position: absolute;
}

.clear_cache {
    width: max-content;
    height: max-content;
    margin: 0 15px;
    padding: 10px 20px;
    text-decoration: none;
    color: var(--secondaryColor);
    font-weight: bold;
    background-color: var(--primaryColor);
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<navbar>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
body {
    font-family: Arial, sans-serif;
    background-color: var(--secondaryColor);
    position: relative;
}

.navbar {
    padding: 20px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #000;
}

.home_button {
    width: max-content;
    height: max-content;
    margin: 0 15px;
    padding: 10px 20px;
    text-decoration: none;
    color: var(--secondaryColor);
    font-weight: bold;
    background-color: var(--primaryColor);
}


.home_button:hover {
    background-color: #000;
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<navbar>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 70px);
    margin-left: auto;
    margin-right: auto;
}

.form-container {
    margin: auto;
    background-color: var(--secondaryColor);
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

h2 {
    text-align: center;
    color: #333;
}

label {
    margin-bottom: 5px;
    display: block;
    color: #000;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #000;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: var(--primaryColor);
    color: white;
    padding: 10px;
    border: none;
    font-weight: bold;
    font-size: larger;
    cursor: pointer;
    width: 100%;
}

input[type="submit"]:hover {
    background-color: #000;
}

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  card style  >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

.container {
    /* padding: 20%; */
    align-items: center;
    width: 800px;
}

#posts {
    display: block;
    width: 100%;

}



.filter_form {
    display: flex;
    flex-direction: column;
}

.filter_form select {
    width: 99%;
    margin: 1%;
    padding: 10px;
    height: 100px;
}

.filterbutton {
    background-color: var(--primaryColor);
    color: var(--secondaryColor);
    font-weight: bold;
    cursor: pointer;
    width: 100px;
    margin: 1%;
}



/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< error >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
.err-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.go-back-error {
    width: 10%;
    min-width: 100px;
    height: 40px;
    margin-left: 10%;
    margin-bottom: 15px;
    background-color: #d7d7d7;
    outline: 0;
    border: 1px solid #CCC;
    border-radius: 5px;
    border-radius: 7px;
    cursor: pointer;
    transition: .5s all;
}

.err-main {
    width: 100%;
    height: 100vh;
    /* background-image: url('/internal/app/views/static/images/giphy(1).gif'); */
}

.load_more {
    background-color: var(--primaryColor);
    color: var(--secondaryColor);
    padding: 5px;
    font-weight: bold;
    font-size: medium;
    cursor: pointer;

}

.load_more:hover {
    background-color: #000;

}

.login_button {

    width: max-content;
    height: max-content;
    margin: 0 15px;
    padding: 10px 20px;
    text-decoration: none;
    color: var(--secondaryColor);
    font-weight: bold;

}


.login_button:hover {
    background-color: var(--primaryColor);

}


.register_button {

    width: max-content;
    height: max-content;
    margin: 0 15px;
    padding: 10px 20px;
    text-decoration: none;
    color: var(--secondaryColor);
    font-weight: bold;
    background-color: var(--primaryColor);

}

.post_btn {
    background-color: var(--primaryColor);
    color: var(--secondaryColor);
    padding: 10px;
    border: none;
    font-weight: bold;
    font-size: larger;
    cursor: pointer;
    width: 100%;
}


fieldset {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: green;
    padding: 20px;
    margin-bottom: 20px;
}


.comment_react_buttons_wrapper {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}


.no_post {
    color: lightgray;
    font-size: 100px;
    margin-top: 100px;
    font-weight: bold;
}






@media (max-width: 850px) {


    * {

        margin: 0;
        padding: 0;
        --primaryColor: #a00;
        --secondaryColor: #eee;
    }

    .container {
        width: max-content;
    }

    .navbar {
        margin-left: auto;
        margin-right: auto;
    }

    .content form {
        width: 520px;
        color: var(--primaryColor);
        margin-left: auto;
        margin-right: auto;
    }

    #posts div {

        width: 460px;
    }



    .filter_form {
        display: block;
        flex-direction: column;
        text-align: justify;
    }

    .filter_form select {
        width: -webkit-fill-available;
        margin: 1%;
        padding: 10px;
        height: 80px;
        border: 2px solid var(--primaryColor);
    }


    .post_btn {

        width: 520px;
    }

    .no_post {
        color: lightgray;
        font-size: 50px;
        margin-top: 100px;
        font-weight: bold;
    }


    .button {

        margin: 0 10px;
        padding: 5px 10px;


    }

    .login_button {

        width: max-content;
        height: max-content;
        margin: 0 10px;
        padding: 5px 10px;

        color: var(--secondaryColor);
        font-weight: bold;

    }



    .register_button {

        width: max-content;
        height: max-content;
        margin: 0 10px;
        padding: 5px 10px;
        text-decoration: none;
        color: var(--secondaryColor);
        font-weight: bold;
        background-color: var(--primaryColor);

    }
}



@media (max-width: 550px) {

    * {
        margin: 0;
        padding: 0;
        --primaryColor: #a00;
        --secondaryColor: #eee;
    }

    .container {
        width: max-content;
    }

    .navbar {
        margin-left: auto;
        margin-right: auto;
    }

    .content form {
        width: 300px;
        color: var(--primaryColor);
        margin-left: auto;
        margin-right: auto;
    }

    #posts div {

        width: 300px;
    }

    .filter_form {
        display: block;
        flex-direction: column;
        text-align: justify;
    }

    .filter_form select {
        width: -webkit-fill-available;
        margin: 1%;
        padding: 10px;
        height: 80px;
        border: 2px solid var(--primaryColor);
    }

    .post_btn {

        width: 300px;
    }

    .no_post {
        color: lightgray;
        font-size: 30px;
        margin-top: 100px;
        font-weight: bold;
    }
}